{% extends 'base.html.twig' %}

{% block title %}Add Media{% endblock %}
{% block body %}
<div class="content">
  <h1>Add a new media</h1>

  {{ form_start(form) }}
  {{ form_end(form) }}
</div>

{% endblock %}
